
@{
    Layout = null;
}
<!--
* ThesisNg - Angular Thesis
* Version 0.1
*
-->
<!DOCTYPE html>
<html ng-app="apoxcrm">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Page title set in pageTitle directive -->
    <title page-title></title>
        <link rel="stylesheet" href="~/App_Client/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/App_Client/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/App_Client/lib/metisMenu/dist/metisMenu.min.css" />
        <link rel="stylesheet" href="~/App_Client/lib/animate-css/animate.css" />
        <link rel="stylesheet" href="~/App_Client/lib/angular-ui-grid/ui-grid.css" />
        <link rel="stylesheet" href="~/App_Client/lib/dx.common.css">
        <link rel="stylesheet" href="~/App_Client/lib/dx.light.css">
        <link rel="stylesheet" href="~/App_Client/css/style.css" />
</head>
<body>
    <!-- Main Angular View -->
    <div ui-view></div>
    <!-- Dependancies -->
        <!-- INSPINIA TEMPLATE Dependancies from bower lib-->
        <script src="~/App_Client/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/App_Client/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/App_Client/lib/metisMenu/dist/metisMenu.min.js"></script>
        <script src="~/App_Client/lib/pace/pace.min.js"></script>
        <script src="~/App_Client/lib/slimScroll/jquery.slimscroll.min.js"></script>
        <!-- Angular App Dependancies from bower lib-->
        <script src="~/App_Client/lib/angular/angular.js"></script>
        <script src="~/App_Client/lib/angular-ui-router.js"></script>
        <script src="~/App_Client/lib/ocLazyLoad/dist/ocLazyLoad.js"></script>
        <script src="~/App_Client/lib/angular-ui-grid/ui-grid.js"></script>
        <!-- Angular App Dependancies from cdn-->
        <script src="~/App_Client/lib/ui-bootstrap-tpls.js"></script>
        <!-- Angular/DevExtreme App Dependancies from cdn- -->
        <script src="~/App_Client/lib/jquery/dist/jquery.js"></script>
        <script src="~/App_Client/lib/angular-sanitize.min.js"></script>
        <script src="~/App_Client/lib/globalize.min.js"></script>
        <script src="~/App_Client/lib/dx.all.js"></script>
        <!-- Angular App Script -->
        <script src="~/App_Client/app/app.js"></script>
        <script src="~/App_Client/app/config.js"></script>
        <script src="~/App_Client/app/services/coredapperSrvc.js"></script>
        <script src="~/App_Client/app/directives/directives.js"></script>
        <script src="~/App_Client/app/controllers/mainCtrl.js"></script>
        <script src="~/App_Client/app/controllers/dxGridController.js"></script>
        <script src="~/App_Client/app/directives/controls/simpleControls.js"></script>
        <!-- INSPINIA TEMPLATE Dependancies Castum, has custom changes from INSPINIA template on metisMenu,bootstrap,slimscroll-->
        <script src="~/App_Client/app/assets/bootstrap/bootstrap.js"></script>
        <script src="~/App_Client/app/assets/plugins/metisMenu/jquery.metisMenu.js"></script>
        <script src="~/App_Client/app/assets/plugins/slimscroll/jquery.slimscroll.js"></script>
        <script src="~/App_Client/js/script_ins.js"></script>
</body>
</html>
