<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="profile-element" uib-dropdown>
                    <img alt="image" class="img-circle" src="app/assets/img/bill.jpg" />
                    <a uib-dropdown-toggle href>
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">{{userName}}</strong>
                            </span>
                            <span class="text-muted text-xs block">Software Engineer<b class="caret"></b></span>
                        </span>
                    </a>
                    <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                        <li><a ui-sref="app.profile">Profile</a></li>
                        <li><a ui-sref="app.contacts">Contacts</a></li>
                        <li><a ui-sref="mailbox.inbox">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="login">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li ui-sref-active="active">
                <a href="/"><i class="fa fa-home"></i> <span class="nav-label">Home Page</span> </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="index.main"><i class="fa fa-tachometer"></i> <span class="nav-label">Dashboard</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.minor"><i class="fa fa-folder-open"></i> <span class="nav-label">Reports</span></a>
            </li>
            <li ng-class="{active: $state.includes('dxgrid')}">
                <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Grid Examples</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('dxgrid')}">
                    <li ui-sref-active="active"><a ui-sref="dxgrid.customers">DxGrid Cutomers</a></li>
                    <li ui-sref-active="active"><a ui-sref="dxgrid.orders">Orders</a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>